.btn {
    display: inline-table;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-decoration: none;
    padding: .9rem 3rem 1.1rem; 
    border-radius: 3rem;
    transition: ease .3s;
    margin-top: 20px;
}

.btn-light {
    color: $mineshaft;
    background-color: $white;

    &:hover {
        color: $white;
        background-color: $mineshaft;
    }
}