// Grid

$column-number: 25;
$column-width: 100vw/25;
$bp-mobile: 767px;
$bp-tablet: 1190px;


// colors

$white: #ffffff;
$codgray: #191919;
$mineshaft: #292929;
$emperor: #545454;
$boulder: #767676;
$dustygray: #999999;
$silver: #c8c8c8;
$mercury: #e5e5e5;
$wildsand: #f4f4f4;
$jewel: #105a33;
$jewellighten: #187c48;
$alizarincrimson: #e72734;